@import "../_colors";

:host {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  border: 2px solid $color-accent-purple;
  border-radius: 10px;

  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);

  padding: 20px 0;

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      width: 300px;

      mat-hint {
        position: absolute;
        right: 10px;
        color: grey;
      }
    }

    .form-error-message {
      max-width: 300px;
      color: red;
    }

    .submit-btn {
      width: 100px;
      align-self: flex-end;
    }
  }
}
